.category {
    margin: 10px,0;
}

.category span {
    margin-right: 10px;
    padding:3px;
}

.todo-item {
    display:flex;
    margin-bottom: 10px;
}
  
.todo-item > input,
.todo-item > span 
.todo-item > div {
  margin-right: 10px;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item > div {
  display:flex;
}

.todo-item div > button {
  margin-left: 5px;
}


.search-bar {
    margin-bottom: 10px;
}
form p {
  color:red;
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.red {
  color:red;
}
.black {
  color:black;
}
.line-through {
  text-decoration: line-through;
}
.none {
  display:none
}

.block {
  display:block
}
